html {
  height: -webkit-fill-available;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style-type: none;
    height: -webkit-fill-available;
    display: flex; 
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
  }
  .App {
    background-image: url("https://images.unsplash.com/photo-1556117208-d18dc6ac3f88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-repeat: repeat;
    min-height: 100vh;
    background-size: 99.99% auto; 
    overflow: hidden;
    padding: 0 0.01% 0;
    
  }
  .mobile-title {
    margin-left: 20px;
  }
  .sidenav {
    background-color: rgba(0,0,0,0) !important;
    background-image: url("https://images.unsplash.com/photo-1556117208-d18dc6ac3f88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  }
  .notifications {
    border-left: 2px solid yellow;
  }
  .notification-btn {
    margin-right: -20px;
  }
  form {
    padding: 20px;
    margin-top: 80px;
  }
  form button {
    margin: 0px 0px -5px 0px;
  } 
  form h5 {
    margin: 5px 0px 0px 0px;
  }
  input[type=text]:not(.browser-default):focus:not([readonly]),
  input[type=email]:not(.browser-default):focus:not([readonly]),
  input[type=password]:not(.browser-default):focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly]){
    border-color: #64b5f6;
    box-shadow: none;
  }